
/* CUSTOM CSS */

.homenu{
  max-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin: 100px ;

}
.homenuitem{
  width: 33%;
  height: 26vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #0ac400;
}
.homenuitem h3{
  margin-top: 30px;
}
.homenuitem img{
  height: 60px;
}
.pagetit{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  padding: 0!important;
  font-size: 24px;
  background-image: url("http://frill-s.com/coculture/photos/10.jpg");
  min-width: 100vw!important;
  height: 50vh;
  background-position: center;
  background-size: cover;
  margin: 0!important;
  padding: 0!important;
  position:absolute;
  background-color: #0ac400;
  background-blend-mode: multiply;
  top:60px;
  left:0;
  color: white;
	.avatar{
		box-shadow:none!important;
	}
}
.teamlist{
  display: flex;
  flex-direction: row;
}
.teamlist span{
  display: flex;
  flex-direction: row;
  margin: 0 10px;
}
.pagetit a{
  margin-right: 10px;
}
.header .text-muted{
    color: white!important;
}
.header .text-default{
  color: white!important;
  font-weight: 600;
  height: 100px;
}
.nav-link i{
	color: white!important;
}
.header-toggler{
	display: none;
}
.todocont{
  display: flex;
  flex-direction: column;
}
.todorow{
  display: flex;
  flex-direction: row;
  height: 80px;
  width: 100%;
  align-items: center;
  font-size: 20px;
  font-weight: 600;

}
.todoicon{
  width: 100px;
}
.todoicon img{
  max-height: 40px;
}
.tododesc{
  flex-grow: 1;
}
.todouser{
  display: flex;
  justify-content: center;
  width: 50px;
}
.tododue{
  display: flex;
  justify-content: center;
  width: 30%;
}
.tododone{
  width: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top:10px;
}
@import url(https://fonts.googleapis.com/css?family=Roboto);

$md-checkbox-margin: 16px 0;
$md-checkbox-checked-color: rgb(51, 122, 183);
$md-checkbox-border-color: rgba(0, 0, 0, 0.54);
$md-checkbox-border-color-disabled: rgba(0, 0, 0, 0.26);
$md-checkbox-checked-color-disabled: rgba(0, 0, 0, 0.26);

$md-checkbox-size: 20px;
$md-checkbox-padding: 4px;

$md-checkmark-width: 2px;
$md-checkmark-color: #fff;

.md-checkbox {
  position: relative;
  margin: $md-checkbox-margin;
  text-align: left;

  &.md-checkbox-inline {
    display: inline-block;
  }

  label {
    cursor: pointer;
    &:before, &:after {
      content: "";
      position: absolute;
      left:0;
      top: 0;
    }

    &:before {
      // box
      width: $md-checkbox-size;
      height: $md-checkbox-size;
      background: #fff;
      border: 2px solid $md-checkbox-border-color;
      border-radius: 2px;
      cursor: pointer;
      transition: background .3s;
    }

    &:after {
      // checkmark
    }
  }

  input[type="checkbox"] {
    outline: 0;
    margin-right: $md-checkbox-size - 10px;
    visibility: hidden;

    &:checked {
       + label:before{
        background: $md-checkbox-checked-color;
        border:none;
      }
      + label:after {

        $md-checkmark-size: $md-checkbox-size - 2*$md-checkbox-padding;

        transform: rotate(-45deg);

        top: ($md-checkbox-size / 2) - ($md-checkmark-size / 4) - $md-checkbox-size/10;
        left: $md-checkbox-padding;
        width: $md-checkmark-size;
        height: $md-checkmark-size / 2;

        border: $md-checkmark-width solid $md-checkmark-color;
        border-top-style: none;
        border-right-style: none;
      }
    }

    &:disabled {
      + label:before{
        border-color: $md-checkbox-border-color-disabled;
      }
      &:checked {
        + label:before{
          background: $md-checkbox-checked-color-disabled;
        }
      }
    }
  }

}

// *************************************

// *************************************
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background:#f0f0f0;
  position: absolute;
  width:100%;
  padding:0;
  margin:0;
  font-family: "Roboto", sans-serif;
  color: #333;
}

section {
  background:white;
  margin:0 auto;
  padding: 4em;
  max-width: 800px;
  h1 {
    margin: 0 0 2em;
  }
}
@media only screen and (max-width: 850px) {
    .homenu{
      margin: 100px 0px;
    }
    .homenuitem{
      width: 50%;
      height: 35vh;
    }
    .todorow{

      font-size: 16px;
      font-weight: 600;

    }
    .todoicon{
      width: 55px;
    }
    .tododesc{
      justify-content: flex-start;
    }
}
/* END OF CUSTOM CSS */
