<div class="card">
	<div class="card-header">
		<h4 class="card-title">Flore</h4>
	</div>
	<table class="table card-table">
		<tr>
			<td width="1"><img src="http://frill-s.com/coculture/logos/fleur.png"></img></td>
			<td>Fleurs</td>
			<td class="text-right"><span class="text-muted">23%</span></td>
		</tr>
		<tr>
			<td><img src="http://frill-s.com/coculture/logos/lettuce.png"></img></td>
			<td>Légumes</td>
			<td class="text-right"><span class="text-muted">15%</span></td>
		</tr>
		<tr>
			<td><img src="http://frill-s.com/coculture/logos/legumineuses.png"></img></td>
			<td>Légumineuses</td>
			<td class="text-right"><span class="text-muted">7%</span></td>
		</tr>
		<tr>
			<td><img src="http://frill-s.com/coculture/logos/fruit.png"></img></td>
			<td>Fruits</td>
			<td class="text-right"><span class="text-muted">9%</span></td>
		</tr>
		<tr>
			<td><img src="http://frill-s.com/coculture/logos/champinon.png"></img></td>
			<td>Champignons</td>
			<td class="text-right"><span class="text-muted">23%</span></td>
		</tr>
		<tr>
			<td><img src="http://frill-s.com/coculture/logos/tubercule.png"></img></td>
			<td>Tubercules</td>
			<td class="text-right"><span class="text-muted">9%</span></td>
		</tr>
	</table>
</div>
