<div class="card">
<div class="card-header">
	<h3 class="card-title">Mes plantes</h3>
	</div>
	<div class="card-body">
	<table class="table card-table">
		<tbody>
			<tr>
				<td width="1"><img src="http://frill-s.com/coculture/logos/fleur.png"></img></td>
				<td>Fleurs</td>
				<td class="text-right"><span class="text-muted">23%</span></td>
			</tr>
			<tr>
				<td><img src="http://frill-s.com/coculture/logos/legume.png"></img></td>
				<td>Legumes</td>
				<td class="text-right"><span class="text-muted">15%</span></td>
			</tr>
			<tr>
				<td><img src="http://frill-s.com/coculture/logos/fruit.png"></img></td>
				<td>Fruits</td>
				<td class="text-right"><span class="text-muted">7%</span></td>
			</tr>
			<tr>
				<td><img src="http://frill-s.com/coculture/logos/tubercule.png"></img></td>
				<td>Tubercules</td>
				<td class="text-right"><span class="text-muted">23%</span></td>
			</tr>
			<tr>
				<td><img src="http://frill-s.com/coculture/logos/legumineuses.png"></img></td>
				<td>Legumineuses</td>
				<td class="text-right"><span class="text-muted">9%</span></td>
			</tr>
		</tbody>
	</table>
</div>
<div id="chart-browsers" style="height: 0rem"></div>
</div>

<script>
    require(['c3', 'jquery'], function (c3) {
        var chart = c3.generate({
            bindto: '#chart-browsers',
            data: {
                columns: [
                    ['Chrome', 36],
                    ['Firefox', 5],
                    ['Safari', 9],
                    ['Edge', 20],
                    ['Opera', 30],
                ],
                colors: {
                    Chrome: '{{ site.colors.green }}',
                    Firefox: '{{ site.colors.orange }}',
                    Safari: '{{ site.colors.blue }}',
                    Edge: '{{ site.colors.azure }}',
                    Opera: '{{ site.colors.red }}',
                },
                type: 'donut'
            },
            legend: {
                show: false
            }
        });
    });
</script>
