<div class="card card-profile">
	<div class="card-header" style="background-image: url({{ site.data.photos[18].small }});"></div>
	<div class="card-body text-center">
		<img class="card-profile-img" src="{{ site.data.users[4].photo }}">

		<h3 class="mb-3">{{ site.data.users[4].name }} {{ site.data.users[4].surname }}</h3>

		<p class="mb-4">
			Le jardinage ça me pousse.
		</p>

		<button class="btn btn-outline-primary btn-sm">
			<span class="fa fa-twitter"></span> Follow
		</button>


				<p class="mb-4">
				</p>

			<div class="avatar-list avatar-list-stacked">
			  <span class="avatar" style="background-image: url(./demo/faces/female/12.jpg)"></span>
			  <span class="avatar" style="background-image: url(./demo/faces/female/21.jpg)"></span>
			  <span class="avatar" style="background-image: url(./demo/faces/female/29.jpg)"></span>
			  <span class="avatar" style="background-image: url(./demo/faces/female/2.jpg)"></span>
			  <span class="avatar" style="background-image: url(./demo/faces/male/34.jpg)"></span>
			  <span class="avatar">+8</span>
			</div>


				<p class="mb-4">
				</p>

			<a href="#" class="tag">#patate</a>
			<a href="#" class="tag">#tomate</a>
			<a href="#" class="tag">#légume</a>

	</div>



</div>
