---
title: Utilisateur
menu: maps
layout: default
---

<div class="map-header">
  <div class="map-header-layer" id="map-background"></div>
</div>


<div class="container">
  <div class="row">
    <div class="col-lg-4">
      {% include cards/profile.html %}

    </div>






    <div class="col-lg-4">
      {% include cards/chart.html height=12 title="Mes Activités" id="chart-pie" data="pie" %}
    </div>
    <div class="col-sm-12 col-lg-4">
    {% include cards/chart.html title="Mes plantes" id="chart-bar-stacked" data="bar-stacked" %}
    </div>
    <div class="col-sm-12">
      {% include cards/invoices.html %}
    </div>


  </div>
</div>
